*{
  font-family: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  flex-direction: row;
  margin-top:50px; 
  background: rgb(127,127,213);
  background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 35%, rgba(145,234,228,1) 100%);

}
div{
  display:flex;
  justify-content:center;
  font-size: 30px;
  color: #000000;
}

/* h1 shake animation  */
div:hover h1{
    animation:  shake 0.8s  ;
  }
  
  @keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
}


#canvas{
  box-shadow: -3px 2px 9px 6px pink;
  cursor:pointer;
}

.stroke-color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: solid #fff;
}
.tools{
  display:flex;
  justify-content: space-around;
  margin-top: 15px;
  align-items: center;
}


.tools .color-field{
  height: 40px;
  width:40px;
  min-height:40px;
  min-width:40px;
  cursor:pointer;
  display: inline-block;
  cursor:pointer;
  box-sizing:border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self:center;
}

.color-picker{
  align-self:center;
  margin: 0 15px;
  height: 10px;
}
.pen-range{
  align-self: center;
  margin: 0 10px;
  -webkit-appearance: none;
  height: 15px;
  background: #000;
  outline: none;
  border: 5px solid white;
  border-radius: 8px;
  }
  
  /* for chrome/safari */
  .pen-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #000;
    width: 20px;
    height: 30px;
    cursor: pointer;
    border: 5px solid white;
    border-radius: 4px;
  }

  /* buttons */
 .tools > button{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  width: 3em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 35%, rgba(145,234,228,1) 100%);
  background-size: 300%;
  z-index: 1;
  cursor: pointer;
  border-radius: 3em;
  border: solid #fff;
 }

/* media queries */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    *{
      font-family: 'Raleway', sans-serif;
    }
    
    html {
      box-sizing: border-box;
      font-size: 16px;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    /* adjust typography defaults */
    body {
      margin: 1rem;
      font-family: sans-serif;
      line-height: 1.5;
      flex-direction: row;
      margin-top:50px; 
      background: rgb(127,127,213);
      background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 35%, rgba(145,234,228,1) 100%);
    
    }
    div{
      display:flex;
      justify-content:center;
      font-size: 30px;
      color: #000000;
    }
    
    /* h1 shake animation  */
    div:hover h1{
        animation:  shake 0.8s  ;
      }
      
      @keyframes shake{
        0%{
          transform: translateX(0)
        }
        25%{
          transform: translateX(25px);
        }
          
        50%{
          transform: translateX(-25px);
        }
        100%{
          transform: translateX(0px);
        }
    }
    
    
    #canvas{
      box-shadow: -3px 2px 9px 6px pink;
      cursor:pointer;
    }
    
    .stroke-color {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border: solid #fff;
    }
    .tools{
      display:flex;
      justify-content: space-around;
      margin-top: 15px;
      align-items: center;
    }
    
    
    .tools .color-field{
      height: 40px;
      width:40px;
      min-height:40px;
      min-width:40px;
      cursor:pointer;
      display: inline-block;
      cursor:pointer;
      box-sizing:border-box;
      border-radius: 50%;
      border: 2px solid white;
      align-self:center;
    }
    
    .color-picker{
      align-self:center;
      margin: 0 15px;
      height: 10px;
    }
    .pen-range{
      align-self: center;
      margin: 0 10px;
      -webkit-appearance: none;
      height: 15px;
      background: #000;
      outline: none;
      border: 5px solid white;
      border-radius: 8px;
      }
      
      /* for chrome/safari */
      .pen-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: #000;
        width: 20px;
        height: 30px;
        cursor: pointer;
        border: 5px solid white;
        border-radius: 4px;
      }
    
      /* buttons */
     .tools > button{
      text-decoration: none;
      font-size: 14px;
      color: #fff;
      width: 3em;
      height: 3em;
      line-height: 2em;
      text-align: center;
      background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 35%, rgba(145,234,228,1) 100%);
      background-size: 300%;
      z-index: 1;
      cursor: pointer;
      border-radius: 3em;
      border: solid #fff;
     }
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    *{
      font-family: 'Raleway', sans-serif;
    }
    
    html {
      box-sizing: border-box;
      font-size: 16px;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    /* adjust typography defaults */
    body {
      margin: 1rem;
      font-family: sans-serif;
      line-height: 1.5;
      flex-direction: row;
      margin-top:50px; 
      background: rgb(127,127,213);
      background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 35%, rgba(145,234,228,1) 100%);
    
    }
    div{
      display:flex;
      justify-content:center;
      font-size: 30px;
      color: #000000;
    }
    
    /* h1 shake animation  */
    div:hover h1{
        animation:  shake 0.8s  ;
      }
      
      @keyframes shake{
        0%{
          transform: translateX(0)
        }
        25%{
          transform: translateX(25px);
        }
          
        50%{
          transform: translateX(-25px);
        }
        100%{
          transform: translateX(0px);
        }
    }
    
    
    #canvas{
      box-shadow: -3px 2px 9px 6px pink;
      cursor:pointer;
    }
    
    .stroke-color {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border: solid #fff;
    }
    .tools{
      display:flex;
      justify-content: space-around;
      margin-top: 15px;
      align-items: center;
    }
    
    
    .tools .color-field{
      height: 40px;
      width:40px;
      min-height:40px;
      min-width:40px;
      cursor:pointer;
      display: inline-block;
      cursor:pointer;
      box-sizing:border-box;
      border-radius: 50%;
      border: 2px solid white;
      align-self:center;
    }
    
    .color-picker{
      align-self:center;
      margin: 0 15px;
      height: 10px;
    }
    .pen-range{
      align-self: center;
      margin: 0 10px;
      -webkit-appearance: none;
      height: 15px;
      background: #000;
      outline: none;
      border: 5px solid white;
      border-radius: 8px;
      }
      
      /* for chrome/safari */
      .pen-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: #000;
        width: 20px;
        height: 30px;
        cursor: pointer;
        border: 5px solid white;
        border-radius: 4px;
      }
    
      /* buttons */
     .tools > button{
      text-decoration: none;
      font-size: 14px;
      color: #fff;
      width: 3em;
      height: 3em;
      line-height: 2em;
      text-align: center;
      background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 35%, rgba(145,234,228,1) 100%);
      background-size: 300%;
      z-index: 1;
      cursor: pointer;
      border-radius: 3em;
      border: solid #fff;
     }
}